body{
	font-family: ubuntu;
	background-color: #ffffff;
	font-size: 15px;
}

	/*Header*/
#header-nav{
	background-color: #9C9C9C;
	border-radius: 0;
  	border: 1px solid #000000;
  
}
.navbar-brand{
	padding-top: 35px;
	padding-left: 35px;
	height: 80px;	
}
.navbar-brand h1{
	font-size: 2em;
	font-weight: bold;
	color: #000000;
	margin-bottom: 0;
	margin-top: 0;
	line-height: .75;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000000;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: 35px;
}

#nav-list {
  margin-top: 2px;
  margin-bottom: 0;
}
#nav-list a {
  color: #000000;
  text-align: center;
  margin:0;
}

#nav-list li{
  font-size: 1.5em;
  background-color: #d2d1ce;
  border-bottom: 2px solid #030302;
  padding-top: 5px;
  padding-bottom: 5px;
}

#nav-list a:hover{
  color: #ffffff;
}
	/*End Header */

	/* Content section */
.section-content{
	background-color: #D3D3D3;
	border: 0;
	margin-top: 15px;
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom:0; 
	text-align: center;
	min-height: 700px;
	position: relative;
	bottom: 0;
	/*line-height: 1.1;*/
}
.section-content h1{
	font-weight: bold;
}
.section-content p{
	font-size: 1.5em;
	font-family: heveltica;
	margin: 20px 25px 35px 25px;
	text-align: justify;
}

.nav-back{
	background-color: #9C9C9C;
	margin-top: 10px;
	margin-bottom: 0;


}

.nav-back a{
	font-size: 1.6em;
	color: #ffffff;
	margin-bottom: 0;

}

.nav-back a:hover, a:focus{
	text-decoration: none;
}